$side-padding: 75px;
$header-height: 20vh;

.main {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      height: $header-height;
    }
  }

  .container {
    position: absolute;
    top: $header-height;
    bottom: $side-padding;
    left: $side-padding;
    right: $side-padding;
    display: flex;
    flex: 1;
    animation: fade-in 1s;

    &.hidden {
      opacity: 0;
      animation: fade-out 1s;
    }

    .block {
      z-index: 7;
    }

    app-planets {
      width: 60%;
      overflow: hidden;
      margin-left: 30px;;
      margin-right: 25px;
    }

    app-leader-board {
      width: 40%;
      padding: 25px 4px 0 75px;
    }

    app-challenges-status {
      width: 100%;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

