<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player" type="com.zenika.ageofdevsecops.domain.player.PlayerInfo"*/-->
<!--/*@thymesVar id="flagSubmissionModel" type="com.zenika.ageofdevsecops.exposition.FlagSubmissionModel"*/-->
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<head>
    <title th:if="${player != null}" th:text="${player.id}"></title>
    <title th:if="${player == null}">Oops</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

<div class="header">
    <h1 th:if="${player != null}" th:text="${'Welcome aboard, team ' + player.id + '!'}"></h1>
    <h1 th:if="${player == null}">You wish!</h1>
</div>

<div th:if="${player != null}" class="content">
    <p>Félicitations ! Vous avez maintenant accès au centre de contrôle de votre planète. Au cours de votre mission pour
        sauver les votres, vous allez avoir besoin des informations suivantes. Mais faites bien attention : elles ne
        doivent pas tomber entre de mauvaises mains...</p>

    <p>Vite vite, il y a beaucoup de travail qui vous attend ! Utilisez le champs ci-dessous pour envoyer les flags que
        vous trouverez en chemin.</p>

    <form action="#" th:action="@{/players/{token}(token=${player.token})}" th:object="${flagSubmissionModel}" method="post">

        <input type="text" th:field="*{submittedFlag}"/>

        <div class="result" th:if="${result!=null}">
            <h3 th:text="${result}"></h3>
        </div>

        <div class="submit-container">
            <button type="submit" name="Submit">Submit</button>
        </div>

    </form>
</div>
<div th:if="${player == null}" class="content">
    <p>Pas mal, mais pas suffisant ! Ce token d'équipe n'est pas valide...</p>
</div>

<footer></footer>

</body>
</html>
