<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="player" type="com.zenika.ageofdevsecops.domain.player.PlayerInfo"*/-->
<!--/*@thymesVar id="flagSubmissionModel" type="com.zenika.ageofdevsecops.exposition.FlagSubmissionModel"*/-->
<!--/*@thymesVar id="result" type="java.lang.String"*/-->
<head>
    <title th:if="${player != null}" th:text="${player.id}"></title>
    <title th:if="${player == null}">Oops</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <h1 th:if="${player != null}" th:text="${'Welcome aboard, team ' + player.id + '!'}"></h1>
    <h1 th:if="${player == null}">You wish!</h1>
    <div class="strike"></div>
</div>

<div th:if="${player != null}" class="content">
    <h2 th:text="${'Team ' + player.id}"></h2>
    <p>Félicitations ! Vous avez maintenant accès au centre de contrôle de votre planète. Vite, il y a beaucoup de
        travail qui vous attend ! Utilisez le champ ci-dessous pour envoyer les flags que vous gagnerez au cours de
        votre aventure.</p>

    <form action="#" th:action="@{/players/{token}(token=${player.token})}" th:object="${flagSubmissionModel}"
          method="post">

        <input type="text" th:field="*{submittedFlag}" placeholder="Entrez un flag"/>

        <div class="result" th:if="${result!=null}">
            <h3 th:text="${result}"></h3>
        </div>

        <div class="submit-container">
            <button type="submit" name="Submit">Envoyer</button>
        </div>

    </form>
</div>
<div th:if="${player == null}" class="content">
    <p>Pas mal, mais pas suffisant ! Ce token d'équipe n'est pas valide...</p>
</div>

<footer></footer>

</body>
</html>
