@font-face {
    font-family: "EarthOrbiter";
    src: url('../fonts/earthorbiter.ttf');
}

@font-face {
    font-family: "Retron2000";
    src: url(../fonts/Retron2000.ttf);
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("/images/bg.jpg");
    background-size: cover;
}

.header {
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .strike {
    height: 3px;
    background: white;
    position: absolute;
    top: 156px;
    left: 250px;
    right: 250px;
}

h1 {
    font-family: 'EarthOrbiter', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
    margin-top: 60px;
}

h2 {
    color: #B31B36;
    background: white;
    font-family: Lato, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    height: 70px;
    margin: 0 0 50px 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

h3 {
    font-family: Retron2000, sans-serif;
}

.content {
    position: relative;
    margin: 0 auto 50px auto;
    background-color: rgba(60,60,60,0.7);
    box-shadow: 0 0 20px 5px #4A4A4A;
    color: white;
    border: 7px solid #FFFFFF;
    border-top: none;
    width: 85%;
    overflow-x: auto;
    flex: 1;
    word-break: break-word;
}

.content.quiz {
    padding-bottom: 50px;
}

.content p {
    margin: 0 50px;
}

.content h3 {
    margin: 0 50px 10px 50px;
}

.content ul {
    margin: 0 50px 50px 50px;
}

.content a, .content a:visited {
    color: #B31B36;
}

.content .separator {
    width: calc(100% - 100px);
    margin: 0 50px 40px 50px;
}

.content .separator:last-of-type {
    display: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li::after {
    height: 2px;
    border-bottom: 1px solid red;
}


*, *::before, *::after {
    box-sizing: border-box;
}

input {
    position: absolute;
    left: -9999px;
}

label {
    position: relative;
    margin-bottom: 10px;
    padding: 15px 30px 15px 50px;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
    display: table;
    border: 1px solid white;
}

label::before {
    content: '';
    display: block;
    position: absolute;
    top: 17px;
    left: 15px;
    height: 19px;
    width: 19px;
    border: 1px solid white;
    border-radius: 100px;
    transition: background-color .2s;
}

label:hover, input:focus + label {
    background-color: #ffffff50;
}

label:hover::before {
    background-color: white;
}

input:checked ~ label {
    background-color: white;
    font-weight: bold;
    color: #B31B36;
}

input:checked ~ label::before {
    background-color: #B31B36;
}

button {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #B31B36;
    margin-top: 50px;
    padding: 10px 50px;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
    margin-right: 50px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.submit-container {
    display: flex;
    justify-content: flex-end;
}

.result {
    font-family: Retron2000, sans-serif;
    margin: 50px 50px 0 50px;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    color: white;
    word-break: break-word;
}

.result h3 {
    font-family: Retron2000, sans-serif;
    margin: 0 50px
}

table {
    display: flex;
    justify-content: center;
}

th {
    padding: 0 20px;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-family: 'Font AXA', Arial, sans-serif;
}

tr {
    padding: 0 20px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.8em;
        text-align: center;
        line-height: 1em;
    }

    .result h3 {
        font-family: Retron2000, sans-serif;
        margin: 0
    }
}
