@font-face {
    font-family: "Font AXA";
    src: url('/fonts/EntertheGrid.ttf');
}

body {
    font-family: Courier, monospace;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: radial-gradient(ellipse at center, rgba(22, 61, 134, 0.9) 0%,
    rgba(22, 4, 26, 0.8) 60%,
    rgb(6, 0, 31) 90%),
    url("/images/bg.jpg");
    background-size: cover;
    background-blend-mode: luminosity;
}

.header {
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Font AXA', Arial, sans-serif;
    letter-spacing: 0.1em;
    margin-top: -50px;
    line-height: 35px;
    text-align : center;
}

h2 {
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-family: 'Font AXA', Arial, sans-serif;
    background-color: #299fb8;
    color: white;
    margin: -64px 0 0;
    padding: 10px 20px;
    position: absolute;
}

h3 {
    font-family: Arial, sans-serif;
}

hr {
    background-color: #299fb8;
    border: none;
    height: 1px;
    margin: 50px auto;
    width: 20%;
}

.content {
    line-height: 30px;
    position: relative;
    margin: -50px auto 0px;
    padding: 38px 50px;
    border-top: 4px solid #299fb8;
    box-shadow: 0 0 25px 2px #ffe16b80;
    color: black;
    word-break: break-word;
    background-color: rgb(255, 255, 255);
    width: 80%;
    flex: 1;
}

.quiz {
    margin: 80px auto;
    padding: 38px 50px;
    color: white;
    background-color: rgba(36, 43, 95, .6);
    box-shadow: 0 0 25px 2px #ffe16b80;
    border: 4px solid #299fb8;
    width: 80%;
    flex: 1;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li::after {
    height: 2px;
    border-bottom: 1px solid red;
}


*, *::before, *::after {
    box-sizing: border-box;
}

input {
    position: absolute;
    left: -9999px;
}

label {
    position: relative;
    margin-bottom: 10px;
    padding: 15px 30px 15px 50px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
    display: table;
    border: 1px solid rgb(228, 228, 228);
}

/*Circle inside label*/
label::before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 15px;
    height: 19px;
    width: 19px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 100px;
    transition: background-color .2s;
}

label:hover, input:focus + label {
    background-color: #299fb830;
}

label:hover::before {
    background-color: #299fb8;
    border: 1px solid #299fb8;
}

input:checked ~ label {
    border: 1px solid #299fb8;
    background-color: #299fb8;
    color: white;
}

input:checked ~ label::before {
    background-color: white;
}

button {
    font-family: 'Font AXA', Arial, sans-serif;
    letter-spacing: 0.1em;
    margin-top: 30px;
    padding: 15px 50px;
    background-color: #299fb8;
    color: white;
    border: 1px solid #299fb8;
    font-size: 20px;
    border-radius: 10px;
    text-transform: uppercase;
}

button:hover {
    color: rgb(255, 255, 255);
    background: #1b6675;
    border: 1px solid rgb(59, 59, 59);
    cursor: pointer;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.result {
    margin: 80px 0 50px;
    padding: 38px 50px;
    border-top: 4px solid #299fb8;
    box-shadow: 0 0 25px 2px #ffe16b80;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    word-break: break-word;
}

table {
    display: flex;
    justify-content: center;
}

th {
    padding: 0 20px;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-family: 'Font AXA', Arial, sans-serif;
}

tr {
    padding: 0 20px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.8em;
        text-align: center;
        line-height: 1em;
    } 

    h2 {
        font-size: 1.3em;
        padding: 0.5em 1em;
    }
    
    .result h2 {
        font-size: 1em;
    }
    
    .content, .quiz{
        padding: 1em;
        width: 90%;
    }
    
    .content p, .content a, .result {
        font-size: 1.2em;
        line-height: 1.3em;
    }
    
    .quiz li{
        font-size: 1em;
        line-height: 1.1em;
    }

    .quiz h3{
        font-size: 1.4em;
        line-height: 1.3em;
    }

    label::before {
        top: 14px;
    }

    button{ 
        font-size: 1.8em;
        padding: 0.5em 1em;
    }
    
}
